@import url('variables.css');

/* Header logo */
.header-logo {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 32px 0px 24px 0px;
}

.logo-lawnicons {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    object-fit: contain;
}

.logo-text {
    display: flex;
    flex-direction: column;
    gap: 0px;
}


/* Header navigation container */
.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

/* Searchbar container */
#search-container {
    display: flex;
    flex: 5;
    margin-bottom: 16px;
    position: relative;
    /*display: inline-flex;*/
    align-items: left;
}

#clear-search {
    position: absolute;
    display: block;
    right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #fff;
    background-color: #8b1708;
    font: 22px monospace;
    text-align: left;
    line-height: 1em;
    visibility: hidden;
}

#search-input {
    width: 100%;
    height: 48px;
    box-sizing: border-box !important;
    overflow: visible;
    border: 0;
    border-radius: 32px;
    background-color: var(--surface-container-high);
    box-shadow: none;
    outline: none;
    padding: 12px 16px;
    font-size: 16px;
    color: var(--on-surface);
}

#search-notification {
    display: none;
    background-color: #8b1708;
    color: var(--on-background);
    padding: 10px;
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 1;
}

/* Shuffle */
#random-container {
    display: flex;
    gap: 8px;
}

#button {
    width: auto;
    height: 32px;
    display: inline-block;
    padding: 16px 6px;
    white-space: nowrap;
    border: 1px solid var(--outline-variant);
    color: var(--on-background);
    background-color: var(--background);
    border-radius: 8px;
    padding: 5px 15px;
    text-decoration: none;
}

#button:hover {
    background: var(--surface-container-high);
}

#random-number-input {
    max-width: 80px;
    height: 32px;
    box-sizing: border-box !important;
    overflow: visible;
    border-radius: 8px;
    background-color: var(--surface-container-high);
    border: 0;
    box-shadow: none;
    outline: none;
    padding: 0.8em 1.2em;
    color: var(--on-surface);
}

#random-reset-button {
    border: 1px solid red;
    background-color: rgba(0, 0, 0, 0);
    color: red;
    padding: 5px 15px;
    text-align: left;
    display: none;
    text-decoration: none;
    border-radius: 100px;
}

/* Span text for the Shuffle*/
.lg-view {
    display: inline-block;
}

.sm-view {
    display: none;
}

/* Potential updates container */

#updatable-container {
    display: flex;
    gap: 8px;
}

@media screen and (max-width: 1200px) {

    .lg-view {
        display: none;
    }

    .sm-view {
        display: inline-block;
    }

}

@media screen and (max-width: 800px) {

    .header-container {
        width: 100%;
        display: flex;
        margin-bottom: 20px;
        gap: 10px;
    }

    #random-container {
        display: none;
    }

    #regex-search-container {
        display: none;
    }
}